{% extends 'base.html' %}

{% block body %}


    <div class="container-fluid">
    <div class="row">
    <div class=" col-sm-6 col-md-5 col-lg-4  mx-auto pt-5">


<form method="post">
     {% csrf_token %}
<h3> Sign up </h3>
    {% for message in messages %}
        <p style="display: flex;">  {{ message }}</p>
        {% endfor %}

       


        <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Email address</label>
        <input type="email" class="form-control"  name="email" maxlength="254" id="id_email" placeholder="name@example.com" required="">
        </div>


        <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Username</label>
        <input type="text" class="form-control" name="username" maxlength="150" required="" id="id_username" placeholder="Enter Username">
        </div>

        <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Password</label>
        <input type="password" class="form-control" name="password" maxlength="128" required="" id="id_password" placeholder="Password">
        </div>



<center><button type="submit" class="btn btn-primary">Sign Up</button></center>
   
    </form>
    <a href="{% url 'login' %}" class="card-link" style="text-decoration:none">Already  Registered?  Login</a>
 

    

</div>
</div>
</div>
{% endblock body %}